In [1]:
#Import packages
library("gmodels")
library("dplyr")
library("tidyr")

ERROR: Error in library("gmodels"): there is no package called 'gmodels'

In [3]:
loans <- read.csv('loans.csv')

In [4]:
head(loans)

  X term       loan_status Date      home_ownership
1 1  36 months Fully Paid  12/1/2011 RENT
2 2  60 months Charged Off 12/1/2011 RENT
3 3  36 months Fully Paid  12/1/2011 RENT
4 4  36 months Fully Paid  12/1/2011 RENT
5 5  60 months Current     12/1/2011 RENT
6 6  36 months Fully Paid  12/1/2011 RENT

### Does the term of the loan influence loan status? If so, how?

In [6]:
CrossTable(loans$term, loans$loan_status, chisq = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21957

             | loans$loan_status
  loans$term | Charged Off  |     Current  |  Fully Paid  |   Row Total |
-------------|-------------|-------------|-------------|-------------|
   36 months |       2029  |          0  |      14964  |      16993  |
             |   2540.011  |    388.509  |  14064.480  |             |
             |    102.808  |    388.509  |     57.530  |             |
             |     11.940% |      0.000% |     88.060% |     77.392% |
             |     61.822% |      0.000% |     82.342% |             |
             |      9.241% |      0.000% |     68.151% |             |
             |    -10.139  |    -19.711  |      7.585  |             |
-------------|-------------|-------------|-------------|-------------|
   60 months |       1253  |        502  |       3209  |       4964  |
             |    741.989  |    113.491  |   4108.520  |             |
             |    351.936  |   1329.961  |    196.941  |             |
             |     25.242% |     10.113% |     64.645% |     22.608% |
             |     38.178% |    100.000% |     17.658% |             |
             |      5.707% |      2.286% |     14.615% |             |
             |     18.760  |     36.469  |    -14.034  |             |
-------------|-------------|-------------|-------------|-------------|
Column Total |       3282  |        502  |      18173  |      21957  |
             |     14.947% |      2.286% |     82.766% |             |
-------------|-------------|-------------|-------------|-------------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  2427.685     d.f. =  2     p =  0



       Minimum expected frequency: 113.4913

### How has the ability to own a home changed after 2009?
Reformatting to a Date

In [7]:
loans$DateR <- as.Date(paste(loans$Date), "%m/%d/%Y")

#Separating the Pieces of the Date Variable
loans1 <- separate(loans, DateR, c("Year", "Month", "Day"), sep="-")

#Recoding to before and after 2009
loans1$YearR <- NA
loans1$YearR[loans1$Year <= 2009] <- 0
loans1$YearR[loans1$Year > 2009] <- 1

###

In [8]:
loans1$RentvOwn <- NA
loans1$RentvOwn[loans1$home_ownership == "RENT"] <- 0
loans1$RentvOwn[loans1$home_ownership == "OWN"] <- 1

In [9]:
CrossTable(loans1$RentvOwn, loans1$YearR, chisq = TRUE,fisher=TRUE, mcnemar = TRUE, expected = TRUE, sresid=TRUE, format="SPSS")

   Cell Contents
|-------------------------|
|                   Count |
|         Expected Values |
| Chi-square contribution |
|             Row Percent |
|          Column Percent |
|           Total Percent |
|            Std Residual |
|-------------------------|

Total Observations in Table:  21957

                | loans1$YearR
loans1$RentvOwn |        0  |        1  | Row Total |
----------------|-----------|-----------|-----------|
              0 |     3408  |    15491  |    18899  |
                | 3406.761  | 15492.239  |           |
                |    0.000  |    0.000  |           |
                |   18.033% |   81.967% |   86.073% |
                |   86.104% |   86.066% |           |
                |   15.521% |   70.552% |           |
                |    0.021  |   -0.010  |           |
----------------|-----------|-----------|-----------|
              1 |      550  |     2508  |     3058  |
                |  551.239  | 2506.761  |           |
                |    0.003  |    0.001  |           |
                |   17.986% |   82.014% |   13.927% |
                |   13.896% |   13.934% |           |
                |    2.505% |   11.422% |           |
                |   -0.053  |    0.025  |           |
----------------|-----------|-----------|-----------|
   Column Total |     3958  |    17999  |    21957  |
                |   18.026% |   81.974% |           |
----------------|-----------|-----------|-----------|


Statistics for All Table Factors


Pearson's Chi-squared test
------------------------------------------------------------
Chi^2 =  0.003949638     d.f. =  1     p =  0.949889

Pearson's Chi-squared test with Yates' continuity correction
------------------------------------------------------------
Chi^2 =  0.001405736     d.f. =  1     p =  0.9700918


McNemar's Chi-squared test
------------------------------------------------------------
Chi^2 =  13916.43     d.f. =  1     p =  0

McNemar's Chi-squared test with continuity correction
------------------------------------------------------------
Chi^2 =  13914.57     d.f. =  1     p =  0


Fisher's Exact Test for Count Data
------------------------------------------------------------
Sample estimate odds ratio:  1.003194

Alternative hypothesis: true odds ratio is not equal to 1
p =  0.9595717
95% confidence interval:  0.907574 1.110211

Alternative hypothesis: true odds ratio is less than 1
p =  0.5336012
95% confidence interval:  0 1.092314

Alternative hypothesis: true odds ratio is greater than 1
p =  0.4865993
95% confidence interval:  0.9220142 Inf



       Minimum expected frequency: 551.2394

## Part 3 - Does it seem likely that the data for this hands on came from the larger population of America?¶

In [10]:
loans1%>% group_by(loan_status) %>% summarize(count=n())

  loan_status count
1 Charged Off  3282
2 Current       502
3 Fully Paid  18173

In [11]:
observed = c(18173, 3282)
fullyPAIDexpected = c(0.15, 0.85)
chargeOFFexpected = c(0.10, 0.90)
chisq.test(x = observed, p = fullyPAIDexpected)
chisq.test(x = observed, p = chargeOFFexpected)

	Chi-squared test for given probabilities

data:  observed
X-squared = 81756, df = 1, p-value < 2.2e-16

	Chi-squared test for given probabilities

data:  observed
X-squared = 133033, df = 1, p-value < 2.2e-16