In [48]:
library("mvnormtest")
library("car")
library("IDPmisc")
library("dplyr")
library("rcompanion")

Attaching package: 'dplyr'


The following object is masked from 'package:car':

    recode


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
heartattacks <- read.csv("C:/Users/Marcy/Documents/Entity Coursework/DSO 105 Basic Stats in Python/Lesson 8 MANOVAS/heartAttacks.csv")

## It is well-known that men are more likely to have heart attacks than women. How does gender (sex) influence some of the heart attack predictors like resting blood pressure (trestbps) and cholesterol (chol)?

#### data Wrangling first

In [30]:
str(heartattacks$trestbps)

 int [1:303] 145 130 130 120 120 140 140 120 172 150 ...

In [31]:
str(heartattacks$chol)

 int [1:303] 233 250 204 236 354 192 294 263 199 168 ...

#### both integers. good.

In [32]:
tail(heartattacks)

    ï..age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
298 59     1   0  164      176  1   0        90     0     1.0     1     2  1
299 57     0   0  140      241  0   1       123     1     0.2     1     0  3
300 45     1   3  110      264  0   1       132     0     1.2     1     0  3
301 68     1   0  144      193  1   1       141     0     3.4     1     2  3
302 57     1   0  130      131  0   1       115     1     1.2     1     1  3
303 57     0   1  130      236  0   0       174     0     0.0     1     1  2
    target
298 0
299 0
300 0
301 0
302 0
303 0

#### sample size assumption is met

#### subset the two dependent variables

In [33]:
keep <- c("trestbps", "chol")
heartattacks1 <- heartattacks[keep]

#### no need to limit the number of rows here.

#### format as a matrix

In [34]:
heartattacks2 <- as.matrix(heartattacks1)

#### test assumptions - already got sample size. next is multivariate normality

In [35]:
mshapiro.test(t(heartattacks2))

	Shapiro-Wilk normality test

data:  Z
W = 0.94568, p-value = 3.93e-09

#### p value is significant >.05, but we'll proceed with Homogeneity of Variance

In [37]:
heartattacks2$trestbps <- as.numeric(heartattacks2 ~ trestbps)

ERROR: Error in eval(expr, envir, enclos): 'language' object cannot be coerced to type 'double'

In [38]:
heartattacks2$trestbps <- as.numeric(heartattacks2 ~ trestbps)

ERROR: Error in eval(expr, envir, enclos): 'language' object cannot be coerced to type 'double'

In [39]:
heartattacks2$trestbps <- as.factor(heartattacks2 ~ trestbps)

ERROR: Error in unique.default(x, nmax = nmax): unique() applies only to vectors

In [40]:
heartattacks$chol <- as.factor(heartattacks ~ chol)

ERROR: Error in unique.default(x, nmax = nmax): unique() applies only to vectors

In [41]:
leveneTest(trestbps ~ sex, data=heartattacks)

ERROR: Error in leveneTest.formula(trestbps ~ sex, data = heartattacks): Levene's test is not appropriate with quantitative explanatory variables.

### FYI LeveneTest has thrown an error EVERY time I've run it in lessons 7 and 8. we don't know why.

In [42]:
leveneTest(chol ~ sex, data=heartattacks)

ERROR: Error in leveneTest.formula(chol ~ sex, data = heartattacks): Levene's test is not appropriate with quantitative explanatory variables.

#### absence of multicollinearity

In [43]:
cor.test(heartattacks$trestbps, heartattacks$chol, method = "pearson", use="complete.obs")

	Pearson's product-moment correlation

data:  heartattacks$trestbps and heartattacks$chol
t = 2.1534, df = 301, p-value = 0.03208
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.01064389 0.23262366
sample estimates:
      cor
0.1231742

### with a correlation of .12, that's <.7, so the dependent variables are not strongly correlated - in other words there isn't a significant relationship between the dependent variables, so there IS an absence of multicollinearity and the assumption is met.

### Now to run the MANOVA

In [44]:
MANOVA <- manova(cbind(trestbps, chol) ~ sex, data=heartattacks)
summary(MANOVA)

           Df   Pillai approx F num Df den Df   Pr(>F)
sex         1 0.040235   6.2882      2    300 0.002112 **
Residuals 301
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

### bound the dependent variables together with cbind. in the summary, there isn't a significant difference in resting blood pressure and cholesterol between the sexes, but a moderate one. I'll run a post hoc to see which way that difference lies.

In [45]:
summary.aov(MANOVA, test = "wilks")

 Response trestbps :
             Df Sum Sq Mean Sq F value Pr(>F)
sex           1    299  299.36  0.9732 0.3247
Residuals   301  92592  307.61

 Response chol :
             Df Sum Sq Mean Sq F value  Pr(>F)
sex           1  31778   31778  12.271 0.00053 ***
Residuals   301 779523    2590
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

### oh, cholesterol IS affected by gender, by quite a bit more than resting blood pressure is affected. Male or female? I'll run a mean to see.

In [55]:
gendermeans <- heartattacks %>% group_by(chol) %>% summarize(Mean = mean(sex))

In [56]:
gendermeans

    chol Mean
1   126  1.00
2   131  1.00
3   141  0.00
4   149  0.50
5   157  1.00
6   160  0.00
7   164  0.00
8   166  1.00
9   167  1.00
10  168  1.00
11  169  1.00
12  172  1.00
13  174  1.00
14  175  1.00
15  176  1.00
16  177  0.75
17  178  0.00
18  180  1.00
19  182  1.00
20  183  0.00
21  184  1.00
22  185  1.00
23  186  1.00
24  187  1.00
25  188  1.00
26  192  1.00
27  193  1.00
28  195  0.00
29  196  0.50
30  197  0.50
... ...  ...
123 303  0.3333333
124 304  0.5000000
125 305  0.0000000
126 306  0.0000000
127 307  0.0000000
128 308  0.5000000
129 309  1.0000000
130 311  1.0000000
131 313  0.0000000
132 315  1.0000000
133 318  0.5000000
134 319  0.0000000
135 321  1.0000000
136 322  1.0000000
137 325  0.5000000
138 326  1.0000000
139 327  0.0000000
140 330  0.5000000
141 335  1.0000000
142 340  0.0000000
143 341  0.0000000
144 342  0.0000000
145 353  1.0000000
146 354  0.0000000
147 360  0.0000000
148 394  0.0000000
149 407  0.0000000
150 409  0.0000000
151 417  0.0000000
152 564  0.0000000