In [4]:
library("tidyr")
eatingHabits <- read.csv('Eating_Habits.csv')

In [5]:
head(eatingHabits)

  REF_DATE GEO     DGUID Sex   Age.group Activity
1 1990     Austria NA    Males 11 years  Eating fruit
2 1990     Austria NA    Males 11 years  Eating fruit
3 1990     Austria NA    Males 11 years  Eating fruit
4 1990     Austria NA    Males 11 years  Eating fruit
5 1990     Austria NA    Males 11 years  Eating fruit
6 1990     Austria NA    Males 11 years  Eating raw vegetables
  Frequency            UOM     UOM_ID SCALAR_FACTOR SCALAR_ID VECTOR
1 More than once a day Percent 239    units         0         v656366
2 Once a day           Percent 239    units         0         v656367
3 At least once a week Percent 239    units         0         v656368
4 Seldom               Percent 239    units         0         v656369
5 Never                Percent 239    units         0         v656370
6 More than once a day Percent 239    units         0         v657056
  COORDINATE VALUE STATUS SYMBOL TERMINATED DECIMALS
1 1.1.1.1.1  34    NA     NA                0
2 1.1.1.1.2  42    NA     NA                0
3 1.1.1.1.3  17    NA     NA                0
4 1.1.1.1.4   4    NA     NA                0
5 1.1.1.1.5   3    NA     NA                0
6 1.1.1.2.1  15    NA     NA                0

### recode activity into a new variable called JunkFood and recode those as 1.

In [6]:
eatingHabits$JunkFood <- NA

In [7]:
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating whole wheat or rye bread']<-0
eatingHabits$JunkFood[eatingHabits$Activity == 'Drinking coffee']<-0
eatingHabits$JunkFood[eatingHabits$Activity == 'Drinking soft drinks, cola or other drinks with sugar']<-1
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating french fries']<-1
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating hamburgers, hot dogs or sausages']<-0
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating fruit']<-0
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating candy, chocolate bars']<-1
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating raw vegetables']<- 0
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating potato chips, crisps']<- 1
eatingHabits$JunkFood[eatingHabits$Activity == 'Drinking whole milk']<- 0
eatingHabits$JunkFood[eatingHabits$Activity == 'Drinking low fat milk']<- 0
eatingHabits$JunkFood[eatingHabits$Activity == 'Eating peanuts']<-0

### recode sex from text to numbers in same variable

In [8]:
eatingHabits$Sex[eatingHabits$Sex=='Males']<- 0
eatingHabits$Sex[eatingHabits$Sex=='Females']<- 1

In [11]:
head(eatingHabits)

  REF_DATE GEO     DGUID Sex Age.group Activity
1 1990     Austria NA    0   11 years  Eating fruit
2 1990     Austria NA    0   11 years  Eating fruit
3 1990     Austria NA    0   11 years  Eating fruit
4 1990     Austria NA    0   11 years  Eating fruit
5 1990     Austria NA    0   11 years  Eating fruit
6 1990     Austria NA    0   11 years  Eating raw vegetables
  Frequency            UOM     UOM_ID SCALAR_FACTOR SCALAR_ID VECTOR
1 More than once a day Percent 239    units         0         v656366
2 Once a day           Percent 239    units         0         v656367
3 At least once a week Percent 239    units         0         v656368
4 Seldom               Percent 239    units         0         v656369
5 Never                Percent 239    units         0         v656370
6 More than once a day Percent 239    units         0         v657056
  COORDINATE VALUE STATUS SYMBOL TERMINATED DECIMALS JunkFood
1 1.1.1.1.1  34    NA     NA                0        0
2 1.1.1.1.2  42    NA     NA                0        0
3 1.1.1.1.3  17    NA     NA                0        0
4 1.1.1.1.4   4    NA     NA                0        0
5 1.1.1.1.5   3    NA     NA                0        0
6 1.1.1.2.1  15    NA     NA                0        0

### dummy code the frequency variable

In [12]:
install.packages("fastDummies")

Installing package into 'C:/Users/Marcy/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'fastDummies' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Marcy\AppData\Local\Temp\RtmpyWMQDc\downloaded_packages

In [13]:
library(fastDummies)

In [14]:
eatingHabits <- dummy_cols(eatingHabits, select_columns='Frequency')

In [15]:
head(eatingHabits)

  REF_DATE GEO     DGUID Sex Age.group Activity
1 1990     Austria NA    0   11 years  Eating fruit
2 1990     Austria NA    0   11 years  Eating fruit
3 1990     Austria NA    0   11 years  Eating fruit
4 1990     Austria NA    0   11 years  Eating fruit
5 1990     Austria NA    0   11 years  Eating fruit
6 1990     Austria NA    0   11 years  Eating raw vegetables
  Frequency            UOM     UOM_ID SCALAR_FACTOR ... STATUS SYMBOL
1 More than once a day Percent 239    units         ... NA     NA
2 Once a day           Percent 239    units         ... NA     NA
3 At least once a week Percent 239    units         ... NA     NA
4 Seldom               Percent 239    units         ... NA     NA
5 Never                Percent 239    units         ... NA     NA
6 More than once a day Percent 239    units         ... NA     NA
  TERMINATED DECIMALS JunkFood Frequency_At least once a week
1            0        0        0
2            0        0        0
3            0        0        1
4            0        0        0
5            0        0        0
6            0        0        0
  Frequency_More than once a day Frequency_Never Frequency_Once a day
1 1                              0               0
2 0                              0               1
3 0                              0               0
4 0                              0               0
5 0                              1               0
6 1                              0               0
  Frequency_Seldom
1 0
2 0
3 0
4 1
5 0
6 0